.registration{
  margin-top: 20px;
  margin-bottom: 100px;
  .title{
    margin-bottom: 40px;
    h3{
      margin-top: 16px;
    }
    a{
      font-size: 18px;
      line-height: 1.4;
      color: #4286F4;
      text-decoration-line: underline;
    }
  }
}
